<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- Action beans -->
	<bean id="loginAction" 
		 class="com.workstream.action.LoginAction" 
		 scope="prototype">
		<property name="empService" ref="empService"></property>
	</bean>
	
	<!-- Service beans -->
	<bean id="empService" class="com.workstream.service.EmpServiceImpl">
		<property name="applicationDao" ref="applicationDao"></property>
		<property name="attendDao" ref="attendDao"></property>
		<property name="attendTypeDao" ref="attendTypeDao"></property>
		<property name="employeeDao" ref="employeeDao"></property>
		<property name="managerDao" ref="managerDao"></property>
		<property name="paymentDao" ref="paymentDao"></property>
	</bean>
	
	
	
	<!-- Dao beans -->
	<bean id="applicationDao" class="com.workstream.dao.ApplicationDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="attendDao" class="com.workstream.dao.AttendDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="attendTypeDao" class="com.workstream.dao.AttendTypeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="checkBackDao" class="com.workstream.dao.CheckBackDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="employeeDao" class="com.workstream.dao.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="managerDao" class="com.workstream.dao.ManagerDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="paymentDao" class="com.workstream.dao.PaymentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>